.square {
  width: 100px;
  height: 100px;
  color: black;
  background-color: #e5e5e5;
  border: 1.5px solid #007bff;
}
.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.row {
  display: flex;
}
.status {
  font-size: 24px;
  margin-bottom: 10px;
}
.restart-button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}
.restart-button:hover {
  background-color: #0056b3;
}
